*.lso
_*
_xmsgs/
*.ipf
*.prj
*.stx
*~
*.xst
*.log
*.xmsgs
*.xsl
*.xwbt
iseconfig/
isim/
*.bgn
*.bit
*.bld
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.exe
*.wdb
*.ini
*.cfi
*.map
.*.swp
*.cmd
*.cmd_log
*.drc
*.gise
*.ipf
*_ISE_Backup
*.mcs
*.ncd
*.ngc
*.ngd
*.ngr
*.ntrc_log
*.pad
*.par
*.pcf
*.prm
*.ptwx
*.restore
*.sig
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.html
xlnx_auto_0_xdb/
xst/
